<%- include('../partials/header.ejs') %>
<div class="mt-5" style="margin-left: 750px;">
    <h1 style="font-family: 'Roboto'; color: whitesmoke;"><%= movies.name %></h1>
</div>
<div class="album py-5  ">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <img src="<%= movies.image %>" class="card-img-top" height="550 px">
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: 100px;">
                <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card mt-3" style="max-width: 550px; max-height: 450px;">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link" style="color:#70B7BA;" href="#">Description</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" style="color:#70B7BA;" href="/movie/<%= movies._id %>/showtime">Showtime</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= movies.desc %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit need to have form for edit info but delete just click so it gonna be form to do this function in itself used in admin page -->

<div>
<!-- hide edit and delete button form who isnt author of this item check it is the user-->
<% if(currentUser && movies.author.id.equals(currentUser._id)){ %>
  <a class="btn btn-outline-dark" style="margin-inline-start: 350px; background-color: #F7E967;" href="/movie/<%= movies._id %>/edit">Edit Movie info</a>
  <form id="delete-form" action="/movie/<%= movies._id %>?_method=DELETE" method="POST">
    <button class="btn btn-outline-dark" style="background-color:#F1433F;">Delete Movie info</button>
  </form>  
<% } %>
<a class = "btn btn-outline-dark" style="margin-inline-start: 100px; background-color:#70B7BA;" href='/movie/<%= movies._id %>/comments/new'>Add new comment</a>
<% movies.comments.forEach(function(comment){ %>
  <p style="margin-left: 200px; margin-top: 20px; color: whitesmoke;">
    <strong><%= comment.author.username %></strong> - <%= comment.text %>
  </p>  
<%});%>
</div>

<%- include('../partials/footer.ejs') %>
