<%- include('../partials/header.ejs') %>


    <!-- selecttheatershowtime -->
    <div class="album py-5 wall-black">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1 row-cols-sm-1  g-3">
                <% theater.forEach(function(theater){ %>
                <a  href="/theater/<%= theater._id %>" role="button">
                    <div class="col">
                        <div class="card shadow-sm" style="width: 50rem; height: 20rem;">
                            <div>
                                <img src="<%= theater.image %>" class="card-img-top" height="320rem" style="filter: contrast(80%);"alt="<%= theater.image %>"> 
                                <div class="top-left">
                                    <div class="border-text">
                                        <h3 class="class-title"><%= theater.branch %></h3>
                                        <h5 class="class-title"><%= theater.provincal %></h5>
                                    </div>   
                                </div>
                            </div>
                        </div>               
                    </div>
                </a>
                <% }); %> 
            </div>
        </div>
    </div> 
    
    


<%- include('../partials/footer.ejs') %>