<%- include('../partials/header.ejs') %>

<%= theater.name %>
<%= theater.branch %>
<%= theater.desc %>
<a class="btn btn-outline-primary" href="/movie/<%= movie._id %>/ticket" role="button">Ticket</a>
            

<%- include('../partials/footer.ejs') %>